.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    width: 1180px;
    padding: 0px 20px;
    margin: 0px auto;
}
.content {
    display: flex;
}
.content__language {
    margin: 80px 100px 0px 0px;
}
.language-content__arabic {
    font-size: 20px;
    color: red;
    padding: 10px 30px;
    border: 3px solid blue;
    margin: 0px 0px 50px 0px;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
}
.language-content__english {
    font-size: 20px;
    color: red;
    padding: 10px 30px;
    border: 3px solid blue;
    margin: 0px 0px 50px 0px;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
}
.content__alphabet {
    flex: 1 1 auto;
    height: 900px;
}
.content__alphabet-box {
    position: relative;
}
.content__alphabet-arabic {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content__alphabet-english {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
    font-size: 80px;
    font-weight: 700;
    color: blue;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
}
.content__alphabet-english ul {
    flex-direction: row-reverse;
}
li {
    transition: all 1s ease 0s;
    padding: 0 20px;
    cursor: pointer;
}
li._active {
    /* opacity: 0; */
    visibility: hidden;
    /* transform: scale(10); */
    font-size: 0px;
    /* color: green; */
}
ul:last-child {
    justify-content: center;
}
