@media (max-width: 1320px) {
    .reviews__slider .slick-list {
        margin: 0;
    }
    .reviews__slider .slick-slide {
        margin: 0;
    }
    .reviews__slider-box {
        box-shadow: none;
        margin: 0 auto;
    }
    .reviews__title {
        margin-bottom: 125px;
    }
    .reviews {
        padding: 123px 0 105px;
    }
    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__item-1 {
        max-width: 100%;
        width: 100%;
        margin-bottom: 29px;
    }
}
@media (max-width: 1250px) {
    .brand {
        display: none;
    }
}
@media (max-width: 1200px) {
    .price__items {
        display: block;
    }
    .price__item {
        max-width: 100%;
        margin-bottom: 50px;
    }
    .price__item-title {
        text-align: center;
    }
    .price__item-text {
        text-align: center;
    }
    .price__item-btn {
        text-align: center;
        padding: 22px 0px;
    }
    .title {
        max-width: 568px;
        margin: 0 auto 24px;
        font-size: 35px;
        line-height: 43px;
    }
    .price {
        padding: 100px 0 100px;
    }
}
@media (max-width: 1060px) {
    .descr__foto img {
        width: 327px;
    }
    .descr__circle {
        height: 200px;
        width: 200px;
        padding: 45px 31px;
        right: 36px;
    }
}

@media (max-width: 1000px) {
    .header__menu-btn {
        display: block;
    }
    .header__inner nav {
        position: absolute;
        top: 87px;
        left: 0;
        right: 0;
        background-color: #fff;
        z-index: 2;
        .header__list {
            flex-direction: column;
            text-align: center;
            border-bottom: 1px solid #000;

            li + li {
                margin-left: 0;
            }
            li {
                padding: 10px 0;
                border-top: 1px solid #000;
            }
        }
    }
    .descr__title {
        font-size: 37px;
        line-height: 43px;
    }
    .descr__description {
        width: 278px;
    }
}

@media (max-width: 985px) {
    .form {
        max-width: 100%;
        width: 100%;
        margin-top: 43px;
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        padding-top: 31px;
    }
    .footer__item-2{
        padding-left: 0;
    }
}

@media (max-width: 850px) {
    .descr__image {
        width: 432px;
    }
    .descr__inner {
        display: block;
    }
    .descr__info {
        margin-bottom: 40px;
    }
    .descr {
        padding: 75px 0 186px;
    }
}

@media (max-width: 650px) {
    .title {
        font-size: 30px;
    }
    .reviews__title {
        margin-bottom: 19px;
        font-size: 23px;
        line-height: 27px;
    }
    .reviews {
        padding: 44px 0 87px;
    }
    .reviews__slider-box {
        display: block;
    }
    .reviews__slider-image {
        padding: 3px 36px;
    }
    .reviews__slider-content {
        padding: 25px 17px 34px 17px;
    }
    .reviews__slider .slick-slide {
        padding-bottom: 41px;
    }
    .price {
        padding: 100px 0 57px;
    }
    .footer__item-2 {
        margin-bottom: 24px;
    }
}

@media (max-width: 510px) {
    .descr__image {
        width: 258px;
    }
    .descr__foto img {
        width: 258px;
    }
    .descr__description {
        width: 231px;
    }
    .descr__circle {
        height: 150px;
        width: 150px;
        padding: 37px 19px;
        right: 6px;
        top: 17px;
    }
    .descr__price-name {
        margin-bottom: 6px;
    }
    .descr__price {
        font-size: 44px;
        line-height: 39px;
    }
    .descr__title {
        font-size: 31px;
        line-height: 35px;
    }
}

@media (min-width: 1000px) {
    .header__inner nav {
        display: flex !important;
    }
}
